{% extends 'base.html' %}

{% block titulo %}Lista de Contactos{% endblock %}

{% block cuerpo %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary">Contactos</h1>
    <a href="{% url 'agregar_contactos' %}" class="btn btn-success">Agregar Contacto</a>
</div>

{% if contactos %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                <tr>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td>{{ contacto.email }}</td>
                    {% if contacto.foto %}
                        <td><img src="{{ contacto.foto.url }}" style="width: 100px" /></td>
                    {% endif %}
                    
                    <td>
                        <a href="{% url 'editar_contacto' contacto.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_contacto' contacto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-muted">No hay contactos registrados.</p>
{% endif %}
{% endblock %}
